#
# General
#
COMPOSE_PROJECT_NAME=rengine

#
# SSL specific configuration
#
AUTHORITY_NAME=r3Ngine
AUTHORITY_PASSWORD=nSrmNkwT
COMPANY=r3Ngine
DOMAIN_NAME=r3ngine.example.com
COUNTRY_CODE=US
STATE=Georgia
CITY=Atlanta

#
# Database configurations
#
POSTGRES_DB=r3ngine
POSTGRES_USER=r3ngine
POSTGRES_PASSWORD=h5@K&Y1fE2a9nEzgA6X
POSTGRES_PORT=5432
POSTGRES_HOST=db

#
# Celery Scaling Configurations
#
MAX_CONCURRENCY=80
MIN_CONCURRENCY=10

#
# Rengine web interface super user (for non-interactive install)
#
DJANGO_SUPERUSER_USERNAME=r3ngine
DJANGO_SUPERUSER_EMAIL=r3ngine@example.com
DJANGO_SUPERUSER_PASSWORD=nIJw9SfHAIsSKvF7mG.
NEO4J_PASSWORD=neo4jpassword

