<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/x-icon" href="/staticfiles/img/favicon.ico?v={{ RENGINE_CURRENT_VERSION }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>r3ngine | Codename Phoenix</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css" />
  <script type="module" crossorigin src="/staticfiles/assets/index.js?v={{ RENGINE_CURRENT_VERSION }}"></script>
  <link rel="modulepreload" crossorigin href="/staticfiles/assets/rolldown-runtime.js?v={{ RENGINE_CURRENT_VERSION }}">
  <link rel="modulepreload" crossorigin href="/staticfiles/assets/vendor-base.js?v={{ RENGINE_CURRENT_VERSION }}">
  <link rel="modulepreload" crossorigin href="/staticfiles/assets/vendor-mui.js?v={{ RENGINE_CURRENT_VERSION }}">
  <link rel="modulepreload" crossorigin href="/staticfiles/assets/vendor-router.js?v={{ RENGINE_CURRENT_VERSION }}">
  <link rel="modulepreload" crossorigin href="/staticfiles/assets/vendor-utils.js?v={{ RENGINE_CURRENT_VERSION }}">
  <link rel="modulepreload" crossorigin href="/staticfiles/assets/vendor-echarts.js?v={{ RENGINE_CURRENT_VERSION }}">
  <link rel="modulepreload" crossorigin href="/staticfiles/assets/vendor-react.js?v={{ RENGINE_CURRENT_VERSION }}">
  <link rel="stylesheet" crossorigin href="/staticfiles/assets/vendor-base.css?v={{ RENGINE_CURRENT_VERSION }}">
  <link rel="stylesheet" crossorigin href="/staticfiles/assets/index.css?v={{ RENGINE_CURRENT_VERSION }}">
</head>

<body>
  <div id="root"></div>
</body>

</html>