<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/staticfiles/img/r3ngine_logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>r3ngine | Codename Phoenix</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css" />
    <script type="module" crossorigin src="/staticfiles/assets/index.js"></script>
    <link rel="modulepreload" crossorigin href="/staticfiles/assets/rolldown-runtime-DMWpINJ5.js">
    <link rel="modulepreload" crossorigin href="/staticfiles/assets/vendor-base-Dt71IBQD.js">
    <link rel="modulepreload" crossorigin href="/staticfiles/assets/vendor-mui-Dkq7zC39.js">
    <link rel="modulepreload" crossorigin href="/staticfiles/assets/vendor-router-DgiCuj5q.js">
    <link rel="modulepreload" crossorigin href="/staticfiles/assets/vendor-utils-CTm0AoCr.js">
    <link rel="modulepreload" crossorigin href="/staticfiles/assets/vendor-echarts-0HG7uiNP.js">
    <link rel="modulepreload" crossorigin href="/staticfiles/assets/vendor-react-CcG_wteL.js">
    <link rel="stylesheet" crossorigin href="/staticfiles/assets/vendor-base.css">
    <link rel="stylesheet" crossorigin href="/staticfiles/assets/index.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
